<header class="header">
  <nav class="header-navbar">
      <div class="header-navbar__logo">
        <div class="header-navbar__image-wrapper">
          <img src="../images/logo.svg" alt="logo" />
          <img
            class="header-navbar__image-hover"
            src="../images/logo-hover.svg"
            alt="logo hover"
          />
        </div>
        <a class="header-navbar__logo-title">ForkIO</a>
      </div>

    <ul class="header-navbar__list header-navbar__list--hide">
      <li class="header-navbar__item">
        <a class="header-navbar__link"> Overview </a>
      </li>
      <li class="header-navbar__item">
        <a class="header-navbar__link"> About Fork </a>
      </li>
      <li class="header-navbar__item">
        <a class="header-navbar__link"> Buying Options </a>
      </li>
      <li class="header-navbar__item">
        <a class="header-navbar__link"> Support </a>
      </li>
    </ul>
    <button class="header-navbar__btn">Buy Now</button>

    <div class="mobil-open"></div>
  </nav>

  <section class="header-hero">
    <h2 class="header-hero__heading">Fork App</h2>
    <p class="header-hero__description">
      A real gamechanger in the world of web-development
    </p>
    <p class="header-hero__text-version">v. 2.8 For Mac and Windows</p>
  </section>

  <div class="header-download">
    <button class="header-download__button">Download For Free Now</button>
    <p class="header-download__text">Unlimited 30-Days Trial Period</p>
  </div>
</header>
