<section class="what-you-get">

  <div class="container what-you-get__wrap">

  <div class="what-you-get__left">

    <h2 class="what-you-get__left--hiden">&#8249 Here is what you get &#8250</h2>

    <div class="what-you-get__left-item">
      <!-- <div> -->
        <img src="../images/here_u_get_1.svg" alt="svg-item" width="80" height="60">
      <!-- </div> -->
      <div class="what-you-get__left-content">
        <h3 class="what-you-get__left-title">Creatred to Make The Web Better</h3>
        <p class="what-you-get__left-text">Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra dui laoreet
          vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.</p>
      </div>
    </div>

    <div class="what-you-get__left-item">
      <!-- <div> -->
        <img src="../images/here_u_get_2.svg" alt="svg-item" width="75" height="80">
      <!-- </div> -->
      <div class="what-you-get__left-content">
        <h3 class="what-you-get__left-title">Incredibly Powerful Tool</h3>
        <p class="what-you-get__left-text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut
          volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </p>
      </div>

    </div>

    <div class="what-you-get__left-item">
      <!-- <div> -->
        <img src="../images/here_u_get_3.svg" alt="svg-item" width="60" height="84">
      <!-- </div> -->
      <div class="what-you-get__left-content">
        <h3 class="what-you-get__left-title">Experimental Stuff</h3>
        <p class="what-you-get__left-text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut
          volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat. </p>
      </div>

    </div>

    <div class="what-you-get__left-item">
      <!-- <div> -->
        <img src="../images/here_u_get_4.svg" alt="svg-item" width="67" height="71">
      <!-- </div> -->
      <div class="what-you-get__left-content">
        <h3 class="what-you-get__left-title">Creatred to Make The Web Better</h3>
        <p class="what-you-get__left-text">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus felis odio, ut
          volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida luctus. Aliquam erat volutpat.</p>
      </div>
    </div>

  </div>

  <div class="what-you-get__right">

    <h2 class="what-you-get__right-title">&#8249Here is what you get&#8250</h2>

    <img src="../images/here_u_get_pic.png" alt="vs-code pic" class="what-you-get__right-img" width="700" height="519">

  </div>

</div>

</section>