<section class="reviews">
  <div class="container">
  <h2 class="reviews__heading">People Are Talking About Fork</h2>
  <ul class="reviews-list">

    <li class="reviews-list__item">
      <div class="reviews-list__image-wrapper">
        <img class="reviews-list__image" src="../images/logo51.png" alt="logo smashing" />
      </div>
      <p class="reviews-list__text">
        Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet.
        Proin id dignissim magna. Sed varius urna et pulvinar venenatis.
      </p>
    </li>
    <li class="reviews-list__item">
      <div class="reviews-list__image-wrapper">
        <img class="reviews-list__image" src="../images/logo61.png" alt="logo codrops" />
      </div>
      <p class="reviews-list__text">
        Donec euismod dolor ut ultricies consequat. Vivamus urna ipsum, rhoncus
        molestie neque ac, mollis eleifend nibh.
      </p>
    </li>
    <li class="reviews-list__item">
      <div class="reviews-list__image-wrapper">
        <img class="reviews-list__image" src="../images/logo71.png" alt="loo velit" />
      </div>
      <p class="reviews-list__text">
        In efficitur in velit et tempus. Duis nec odio dapibus, suscipit erat
        fringilla, imperdiet nibh. Morbi tempus auctor felis ac vehicula.
      </p>
    </li>
    <li class="reviews-list__item">
      <div class="reviews-list__image-wrapper">
        <img class="reviews-list__image" src="../images/logo81.png" alt="logo pixel" />
      </div>
      <p class="reviews-list__text">
        Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet.
        Proin id dignissim magna. Sed varius urna et pulvinar venenatis.
      </p>
    </li>
    <li class="reviews-list__item">
      <div class="reviews-list__image-wrapper">
        <img class="reviews-list__image" src="../images/logo01.png" alt="logo creative" />
      </div>
      <p class="reviews-list__text">
        Praesent ut eros tristique, malesuada lectus vel, lobortis massa. Nulla
        faucibus lorem id arcu consequat faucibus.
      </p>
    </li>
    <li class="reviews-list__item">
      <div class="reviews-list__image-wrapper">
        <img class="reviews-list__image" src="../images/logo1231.png" alt="logo tnw" />
      </div>
      <p class="reviews-list__text">
        Fusce pharetra erat id odio blandit, nec pharetra eros venenatis.
        Pellentesque porttitor cursus massa et vestibulum.
      </p>
    </li>
  </ul>
  <p class="reviews__text-bottom">
    Duis lobortis arcu sed arcu tincidunt feugiat. Nulla nisi mauris, facilisis
    vitae aliquet id, imperdiet quis nibh. Donec eget elit eu libero tincidunt
    consequat nec elementum orci. Cum sociis natoque penatibus et magnis dis
    parturient montes, nascetur ridiculus mus.
  </p>

</div>
</section>
