<section class="prices">

  <div class="container">

    <h2 class="prices__title">Fork Subscription Pricing</h2>

    <ul class="prices__list">

      <li class="prices__card">

        <p class="prices__card-title">Students</p>
        <div class="prices__card-wrap">
          <p class="prices__card-cost"><span>$</span>29</p>
          <p class="prices__card-period">PER MONTH</p>
          <div class="prices__card-underline"></div>
          <p class="prices__card-description">Personal License</p>
          <button class="prices__card-btn">PURCHASE</button>
        </div>

      </li>

      <li class="prices__card">

        <p class="prices__card-title">PROFESSIONAL</p>
        <div class="prices__card-wrap">
          <p class="prices__card-cost"><span>$</span>59</p>
          <p class="prices__card-period">PER MONTH</p>
          <div class="prices__card-underline"></div>
          <p class="prices__card-description">Professional License <br> Email Support</p>
          <button class="prices__card-btn">PURCHASE</button>
        </div>

      </li>

      <li class="prices__card--big">

        <p class="prices__card--big-title">AGENCY</p>
        <div class="prices__card--big-wrap">
          <p class="prices__card--big-cost"><span>$</span>99</p>
          <p class="prices__card-period">PER MONTH</p>
          <div class="prices__card-underline"></div>
          <p class="prices__card-description">1-12 Team Members <br> Phone Support</p>
          <button class="prices__card--big-btn">PURCHASE</button>
        </div>

      </li>

      <li class="prices__card">

        <p class="prices__card-title">ENTERPRISE</p>
        <div class="prices__card-wrap">
          <p class="prices__card-cost"><span>$</span>159</p>
          <p class="prices__card-period">PER MONTH</p>
          <div class="prices__card-underline"></div>
          <p class="prices__card-description">Unlimited Team Members <br> 24/ 7 Phone Support</p>
          <button class="prices__card-btn">PURCHASE</button>
        </div>

      </li>

    </ul>

  </div>

</section>