@mixin btn {
    color: white;
    font-weight: 700;
    line-height: 1.06;
    border-radius: 40px;
    background-color: #8d81ac;
    border: 1px solid #8d81ac;

    &:hover{
        color: #8d81ac;
        background-color:white;
        transition: all 0.3s ease-in-out;
        box-shadow: 0 0 10px 0 #8d81ac inset, 0 0 20px 2px #8d81ac;
    }
}



