body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
}

@media (hover: hover) and (pointer: fine) {
  button:hover {
    cursor: pointer;
  }

  a {
    cursor: pointer;
  }
}

.container {
  max-width: 1220px;
  text-align: center;
  margin: 0 auto;

  @media screen and (max-width: 1220px) {
    padding: 0 10px;
  }
}
