@mixin center {
  margin: 0 auto;
}

@mixin text-decoration ($font-size, $line-hight, $font-weight, $color) {
  font-size: $font-size;
  line-height: $line-hight;
  font-weight: $font-weight;
  color: $color;
}