$mobil: 320px;
$tablet: 481px;
$desktop: 993px;
$max-width: 1200px;

header {
  color: #8d81ac;

  background: url("../images/hero-image.png") no-repeat center bottom,
    linear-gradient(
      0deg,
      hsla(0, 0%, 0%, 1) 0%,
      hsla(8, 80%, 8%, 1) 9%,
      hsla(0, 0%, 0%, 1) 38%,
      hsla(0, 0%, 0%, 1) 100%
    );

  margin-bottom: 80px;
}

.header-navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1220px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  height: 100px;

  &__logo {
    display: flex;
    gap: 13px;
    align-items: center;

    &:hover {
      color: white;
      transition: color 0.2s ease-in-out;
    }
  }

  &__image-hover{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.2s ease-out;
  }

  &__logo:hover &__image-hover {
    opacity: 1;

  }


  &__image-wrapper {
    position: relative;
    width: 43px;
    height: 41px;
  }

  &__logo-title {
    text-transform: uppercase;
    font-family: "Lato";
    font-weight: 700;
    font-size: 24px;
    line-height: 0.7;
    padding: 5px;
    margin-top: 8px;
  }

  &__list {
    margin-left: auto;
    margin-right: 44px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 39px;
    background-color: transparent;
  }

  &__link {
    font-weight: 700;
    font-size: 1rem;
    line-height: 0.9;
    padding: 5px;

    &:hover {
      color: white;
      transition: color 0.3s ease-in-out;
    }
  }

  &__btn {
    @include btn;
    padding: 9px 32px;
    font-size: 1rem;
  }

}

.mobil-open--hide,
.mobil-close--hide {
  display: none;
}

.header-hero {
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;
  padding-top: 83px;
  padding-bottom: 355px;

  &__heading {
    font-weight: 700;
    font-size: 5.1rem;
    line-height: 1;
    color: white;
  }

  &__description {
    font-family: "Lato";
    font-size: 1.87rem;
    line-height: 1;
  }

  &__text-version {
    font-size: 1rem;
    line-height: 1;
    text-transform: uppercase;
    color: #848e97;
  }
}

.header-download {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 19px;
  transform: translateY(66%);

  &__button {
    @include btn;
    padding: 23px 61px;
    font-size: 1.31rem;
  }

  &__text {
    font-size: 0.875rem;
    line-height: 1.07;
    color: #848e97;
  }
}

@media screen and (max-width: 992px) {
  .header-navbar {
    background-color: #27262a;
    height: auto;
    padding-top: 22px;
    padding-bottom: 56px;
    padding-left: 20px;
    padding-right: 20px;

    &__list {
      position: absolute;
      right: 12px;
      left: 12px;
      top: 78px;
      margin-right: 0;
      gap: min(39px, 4.7vw)
    }

    &__link{
      font-size: clamp(0.9375rem, 0.8789rem + 0.1953vw, 1rem);
    }
  }

  .header-hero {
    padding-top: 66px;
    padding-bottom: 372px;

    &__heading {
      font-size: 4.5rem;
    }

    &__description {
      font-size: clamp(1.25rem, 0.7734rem + 1.1719vw, 1.5rem);
    }

    &__text-version {
      font-size: 0.875rem;
    }
  }

  .mobil-open {
    display:none;
  }
}

@media screen and (max-width: 480px) {
  .header{
    background: url("../images/hero-tablet.png") no-repeat center center
  }

  .header-navbar {
    padding: 31px 15px;
    background-color: black;

    &__btn {
      padding: 11px 20px;
    }

    &__list {
      position: fixed;
      flex-direction: column;
      background-color: #27262a;
      top: 103px;
      gap: 0;
      padding-bottom: 15px;
      box-shadow: 0px -5px 1px rgb(30, 29, 29);
      transform: translateX(120%);
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);


    }

    &__list--hide{
      visibility: hidden;
    }

    &__list--show{
      visibility:visible;
      transform: translateX(0);
    }

    &__item {
      padding: 31px 0 31px 0;
      border-bottom: 3px solid #3b3b3b;
    }

    &__link {
      font-weight: 400;
      font-size: 1.625rem;
      line-height: 1;
      color: white;
      padding: 10px 0 10px 36px;

      &:active,
      &:focus {
        color: inherit;
        border-left: 8px solid #8d81ac;
        padding-left: 28px;
      }
    }


    &__logo-title {
      display: none;

    }


  }

  .mobil-open {
    display: block;
    background-image: url(../images/btn-open.svg);
    background-repeat: no-repeat;
    width: 26px;
    height: 21px;

    &--chahge-image {
      background-image: url(../images/btn-close.svg);
      background-repeat: no-repeat;
      width: 26px;
      height: 23px;
    }
  }

  .header-hero {
    padding-top: 49px;
    padding-bottom: 344px;

    &__heading {
      font-size: 3rem;
    }

    &__description {
      text-align: center;
      font-size: 1.125rem;
      padding-left: 26px;
      padding-right: 26px;
      font-family: 'Montserrat', sans-serif;
      line-height: 1.44;
      text-transform: capitalize;
    }

  }

  .header-download {
    gap:18px;

    &__button {
      @include btn;
      padding: 11px 29px;
      font-size: 1.125rem;
      line-height: 1.2;
    }

    &__text {
      font-size: 0.875rem;
      line-height: 1;
      color: #848e97;
    }
  }
}


