.what-you-get {
  background-color: #F4F4F4;
  display: flex;
  padding: 70px 0 50px 0;

  &__wrap {
    display: flex;
  }

  &__left--hiden {
    @include text-decoration (42px, 42px, $font-bold, #8D81AC);
    display: none;
    text-align: center;
  }

  &__left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &-item {
      display: flex;
      justify-content: inherit;
      align-items: center;
    }

    &-content {
      max-width: 400px;
      text-align: left;
    }

    &-title {
      @include text-decoration (16px, 21px, $font-regular, $rev-editor-text-color);
    }

    &-text {
      @include text-decoration (14px, 21px, $font-regular, #848E97);
    }
  }

  &__right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-img {
      height: auto;
    }

    &-title {
      @include text-decoration (48px, 50px, $font-bold, #8D81AC);
    }
  }

  // @media screen and (max-width: 481px) {
  //   .what-you-get__left--hiden {
  //     font-size: 32px;
  //     line-height: 38px;
  //   }

  //   .what-you-get__left-item {
  //     flex-direction: column;
  //     margin-top: 30px;
  //   }

  //   .what-you-get__left-content {
  //     text-align: center;
  //   }

  //   .what-you-get__left-content {
  //     margin-top: 25px;
  //   }
  // }
}



@media screen and (max-width: 992px) {
  .what-you-get {
    flex-direction: column;
    background-color: #fff;

    &__wrap {
      flex-direction: column;
    }

    &__right,
    &__left {
      width: 100%;
    }

    &__left--hiden {
      display: block;
    }

    &__left-item {
      justify-content: space-around;
    }

    &__right-title {
      display: none;
    }

    &__left-content {
      margin-top: 40px;
    }

    &__right {
      margin-top: 60px;
      align-items: flex-end;
    }
  }
}


@media screen and (max-width: 481px) {
  .what-you-get {
    &__left--hiden {
      font-size: 32px;
      line-height: 38px;
    }

    &__left-item {
      flex-direction: column;
      margin-top: 30px;
    }

    &__left-content {
      text-align: center;
    }

    &__left-content {
      margin-top: 25px;
    }
  }
}