.reviews {
  background-image: url(../images/bg-reviews.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  &__heading {
    padding-top: 108px;
    padding-bottom: 82px;
    font-size: 3rem;
    line-height: 1.05;
    color: #ffffff;
  }

  &__text-bottom {
    position: relative;
    max-width: 887px;
    margin: 0 auto;
    font-family: "Lato";
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #a291a5;
    padding-bottom: 18px;

    &::after {
      position: absolute;
      content: "";
      width: 80%;
      height: 2px;
      background-color: #a291a5;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.reviews-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  row-gap: 91px;
  column-gap: 117px;
  align-items: end;
  padding-bottom: 114px;
  padding-left: 5px;
  padding-right: 5px;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &__image-wrapper {
    padding-bottom: 22px;
  }

  &__text {
    font-family: "Lato";
    font-style: italic;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5;
    color: #ffffff;
  }
}

@media screen and (max-width: 992px) {

  .reviews-list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 54px;
    column-gap: 93px;


    justify-items: center;
    padding-bottom: 66px;
  }

  .reviews {

    &__heading {
      padding-top: 86px;
      font-size: 2.625rem;
    }
    &__text-bottom {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

@media screen and (max-width: 480px) {

  .reviews-list {
    display: flex;
    flex-direction: column;
    gap: 41px;
    padding-bottom: 29px;
    justify-items: center;
    align-items: center;
    padding-left: 0;
    padding-right: 0;

    &__item {
      max-width: 270px;
    }
  }

  .reviews {
    background-image: url(../images/bg-small.png);

    &__heading {
      padding-top: 57px;
      padding-bottom: 53px;
      font-size: 2.25rem;
      line-height: 1.3;
    }
    &__text-bottom {
      padding-left: 34px;
      padding-right: 34px;
      padding-bottom: 22px;

      &::after {
        bottom: 0px;
      }
    }
  }
}
