.prices {
  background-image: url(../images/pricing-bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 110px 0 140px 0;
  text-align: center;

  &__title {
    @include text-decoration (48px, 50px, $font-bold, $white-color);
    margin-bottom: 60px;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__card {
    width: 250px;
    height: 420px;

    &-wrap {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      background: rgba($color: $white-color, $alpha: 0.11);
    }

    &-title {
      @include text-decoration (24px, 24px, $font-regular, $white-color);
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba($color: $white-color, $alpha: 0.06);
    }

    &-cost {
      @include text-decoration (60px, 90px, $font-bold, $white-color);

      span {
        font-weight: 400;
      }
    }

    &-period {
      @include text-decoration (14px, 16px, $font-regular, $white-color);
    }

    &-underline {
      width: 60px;
      height: 5px;
      background-color: #8D81AC;
    }

    &-description {
      @include text-decoration (16px, 18px, $font-regular, $white-color);
    }

    &-btn {
      @include text-decoration (15px, 15px, $font-regular, $white-color);
      width: 160px;
      height: 45px;
      border-radius: 40px;
      border: none;
      background: rgba($color: $white-color, $alpha: 0.06);
    }

    &--big {
      width: 280px;
      height: 520px;

      &-wrap {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background: rgba($color: #463048, $alpha: 0.84);
      }

      &-title {
        @include text-decoration (24px, 24px, $font-regular, $white-color);
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba($color: #000000, $alpha: 0.11);
      }

      &-cost {
        @include text-decoration (82px, 90px, $font-bold, $white-color);
       
        span {
          font-weight: 400;
        }
      }

      &-btn {
        @include text-decoration (16px, 18px, $font-regular, $white-color);
        height: 50px;
        width: 185px;
        border-radius: 40px;
        border: none;
        background: rgba($color: $white-color, $alpha: 0.06);
      }
    }
  }
}


@media screen and (max-width: 992px) {
  .prices {
    background-image: url(../images/pricing-bg-tablet.png);
    padding: 60px 0 75px 0;

    &__title {
      @include text-decoration (42px, 44px, $font-bold, $white-color);
      margin-bottom: 0px;
    }

    &__list {
      flex-wrap: wrap;
      max-width: 600px;
      height: 1150px;
      margin: 0 auto;
    }
  }
}


@media screen and (max-width: 570px) {
  .prices {
    background-image: url(../images/pricing-bg-phone.png);
    padding: 15px 0 45px 0;

    &__list {
      height: 2200px;
      flex-direction: column;
      flex-wrap: nowrap;
    }

    &__title {
      @include text-decoration (28px, 42px, $font-bold, $white-color);
      max-width: 300px;
      margin: 0 auto;
    }
  }
}