.revolutionary-editor {
  max-width: 860px;
  @include center;
  padding: 50px 0;
  text-align: center;

  &__title {
    @include text-decoration (54px, 54px, $font-bold, #635C73);
    margin-bottom: 35px;
  }

  &__text {
    @include text-decoration (20px, 32px, $font-regular, $rev-editor-text-color);
    font-family: $font-family-lato;
    margin-bottom: 30px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    max-width: 365px;
    @include center;

    &-item {
      display: flex;
      @include text-decoration (14px, 24px, $font-bold, $rev-editor-text-color);
      border: 1px solid $rev-editor-text-color;
      border-radius: 3px;
      padding-right: 3px;

      span {
        margin-left: 3px;
      }
    }
  }
  &__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    @include text-decoration (14px, 24px, $font-bold, $rev-editor-text-color);
    padding: 0 3px;
    border-right: 1px solid $rev-editor-text-color;
    background-color: rgba(0, 0, 0, 0.05);

    svg {
      margin-right: 5px;
    }
  }
}


@media screen and (max-width: 992px) {
  .revolutionary-editor {
    &__title {
      @include text-decoration (42px, 42px, $font-bold, #635C73);
      margin-bottom: 30px;
    }
  }
}



@media screen and (max-width: 481px) {
  .revolutionary-editor {
    &__title {
      @include text-decoration (26px, 28px, $font-bold, #635C73);
      max-width: 300px;
      margin: 0 auto 25px auto;
    }

    &__text {
      font-size: 14px;
      line-height: 20px;
    }

    &__list {
      max-width: 250px;
      flex-wrap: wrap;

      &-item {
        margin: 20px auto 0 auto;
      }
    }
  }
}